# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5433/qashio_points

# Swagger (only used in production)
SWAGGER_USER=admin
SWAGGER_PASSWORD=changeme

# Kafka
KAFKA_BROKER=localhost:9092