# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=qashio_points
DATABASE_URL=postgresql://postgres:password@postgres:5432/qashio_points

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka
KAFKA_BROKER=kafka:29092

# App
NODE_ENV=development
PORT=3000

# Swagger (production only)
SWAGGER_USER=admin
SWAGGER_PASSWORD=changeme

# JWT
JWT_SECRET=super-secret-jwt-key-change-in-production

# Frontend
FRONTEND_URL=http://localhost:4000

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
