# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://USER:PASSWORD@postgres:5432/DB_NAME

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka
KAFKA_BROKER=kafka:29092

# App
NODE_ENV=development
PORT=3000

# Swagger (production only)
SWAGGER_USER=
SWAGGER_PASSWORD=

# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=